* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f8f8f8;
  }
  
  section {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
  }
  
  .aboutContent {
    flex: 1;
    padding: 50px;
  }
  
  .aboutContent h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .aboutContent p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .contactInfo {
    background-color: #fa4c4c;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 40%;
    margin-right: 1%;
    border-radius: 0 10px 10px 0; 
    transition: transform 0.3s ease;
  }
  
  .contactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .contactInfo ul.info li {
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: center;
  }
  
  .contactInfo ul.info li img {
    max-width: 30px;
    filter: invert(1);
    margin-right: 10px;
  }
  
  .contactInfo ul.info li span {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
  }
  
  /* Add hover effect if needed */
  .contactInfo ul.info li:hover span,
  .contactInfo ul.info li:hover img {
    opacity: 1;
  }
  
  /* Additional styles for responsiveness */
  @media only screen and (max-width: 768px) {
    .container-about {
      flex-direction: column;
      width: 90%;
    }
  
    .aboutContent,
    .contactInfo {
      width: 100%;
      border-radius: 10px; /* Rounded corners on both sides for small screens */
    }
  
    .aboutContent {
      padding: 30px;
    }
  
    .contactInfo {
      order: -1; /* Move contactInfo to the top on small screens */
      padding: 30px;
    }
  }
  
  .contactInfo:hover {
    transform: translateX(10px); /* Move 10px to the right on hover */
  }