/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");



:root {
    --red-color: #f81745;
    --red-pink-color: #f15d7b;
    --black-color: #212121;
    --pink-color: #fa80ab;
    --white-color: #ffffff;
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}
.body {
    font-family: "Poppins", sans-serif;
  }
  
  .content-card {
    margin-top: 1rem;
  }
  
  .active-users {
    background-color: #489CFF;
    border-radius: 30px;
    color: var(--white-color);
  }

  .active-class{
    background-color: #73CA5C;
    border-radius: 30px;
    color: var(--white-color);
  }
  
  .premium-class {
    background-color: #6148FF;
    border-radius: 30px;
    color: var(--white-color);
  }
  
  

  .text-cardinfo h4 {
    font-size: 33px;
    color: #191C24;
    font-weight: 800;
    margin-left: 38px;
  }
  
  .text-cardinfo p {
    font-size: 17px;
    font-weight: 600;
    margin-right: 20px;
    
  }
  
  .number{
    margin-left: 30px;
   
  }

  .text-cardinfo .number {
    color: white;
  }

  
  .icon-cardinfo {
    color: var(--white-color);
    font-size: 3.3rem;
    margin-left: 20px;
  }