@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: 'Poppins', sans-serif;
}

section {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

.coniner-profile {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.coniner-profile .profileForm,
.coniner-profile .profileFormm {
  width: 50%;
  box-sizing: border-box;
}

.coniner-profile .profileInfo {
  position: absolute;
  width: 40%;
  left: -30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  z-index: 1;
  top: 5%;
}

.coniner-profile .profileInfo h2 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin: 5% 0;
  transition: transform 0.3s ease;
}

.coniner-profile .profileForm {
  position: absolute;
  background-color: #fff;
  height: 100%;
  max-height: fit-content;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  width: 70%;
  border-radius: 16px;
}

.coniner-profile .profileFormm {
  padding-left: 300px;
  height: 100%;
  width: 90%;
  border-radius: 16px;
}

.coniner-profile .profileForm h1 {
  color: #0f3959;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  margin: 0 10px;
  width: 100%;
}

.coniner-profile .profileForm h2 {
  font-size: 20px;
  font-weight: 500;
}

.coniner-profile .profileForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.coniner-profile .profileForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.coniner-profile .profileForm .formBox .inputBox.w50 {
  width: 47%;
}

.coniner-profile .profileForm .formBox .inputBox.w100 {
  width: 100%;
}

.coniner-profile .profileForm .formBox .inputBox input,
.coniner-profile .profileForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 10px 10px;
  font-size: 14px;
  color: #333;
  outline: none;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

.coniner-profile .profileForm .formBox .inputBox span {
  position: absolute;
  left: 5px;
  padding: 5px 0;
  pointer-events: none;
  font-size: 17px;
  font-weight: 300;
}

.coniner-profile .profileForm .formBox .inputBox input:focus ~ span,
.coniner-profile .profileForm .formBox .inputBox input:valid ~ span,
.coniner-profile .profileForm .formBox .inputBox textarea:focus ~ span,
.coniner-profile .profileForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 600;
  top: -9px;
}

.coniner-profile .profileForm .formBox .inputBox input[type='submit'] {
  position: relative;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px;
}

.coniner-profile .profileForm .formBox .inputBox input[type='submit']:hover {
  background-color: #fa4c4c;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .container-profile {
    flex-direction: column;
  }

  .container-profile .profileForm {
    padding-left: 20px;
    margin-left: 20px;
  }

  .container-profile .profileInfo,
  .container-profile .profileForm {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.container-profile .profileInfo h2:hover {
  transform: translateX(10px);
}

.inputBox {
  position: relative;
  margin-bottom: 20px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.inputBox label {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #777;
  pointer-events: none;
  transition: top 0.3s, left 0.3s, font-size 0.3s, font-weight 0.3s;
}

.inputBox input:focus + label,
.inputBox input:valid + label {
  top: -18px;
  left: 10px;
  font-size: 12px;
  font-weight: 600;
}

.inputBox label {
  left: 10px;
  font-size: 16px;
  color: #555;
  pointer-events: none;
  transition: 0.5s;
}

.akun-header {
  background-color: #fa4c4c;
  padding: 1%;
  text-align: center;
  width: 100%;
  margin: 0;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.akun-header h2 {
  padding-top: 2px;
  font-size: 20px;
  color: #ffff;
  font-weight: bold;
}

.contactForm .formBox h2 {
  margin: 0 0 10% 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .arrow1 {
    margin-left: 0;
    size: 16px;
    cursor: pointer;
    display: block;
  }

  .coniner-profile {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .coniner-profile .profileForm {
    position: absolute;
    background-color: #fff;
    height: 100%;
    max-height: fit-content;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .coniner-profile .profileFormm {
    padding-left: 0;
    border-radius: 16px;
    align-items: center;
    width: 80%;
    margin-top: 10%;
  }

  .coniner-profile .profileForm h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
  }

  .foot1 {
    display: none;
  }
}
