/* Otp.css */

/* Container styling */
.otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa; /* Set your desired background color */
}

.otp-wrapper {
  max-width: 500px;
  width: 100%;
}

.otp-card {
  border: #BF3131; /* Set your desired border color */
  border-radius: 8px; /* Set your desired border radius */
  padding: 20px;
  background-color: rgb(255, 254, 254);
  border-radius: 20px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.otp-card h6 {
  color: var(--red-black);
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
}

/* Info styling */
.otp-info {
  margin-bottom: 10px;
  color: #555555; 
  font-weight: bold;
}

/* Inputs styling */
.otp-inputs {
  margin-top: 20px; /* Increase top margin for better spacing */
}

.otp-inputs input {
  width: 40px; /* Set your desired input width */
  height: 40px; /* Set your desired input height */
  font-size: 16px; 
  text-align: center; 
  margin: 0 5px; 
  background-color: #f0f0f0; 
  color: #333; 
}


/* Button styling */
.validate {
  background-color: #fa4c4c; /* Set your desired button background color */
  color: #ffffff; /* Set your desired button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; 
  width: 80%;
}

.validate:hover {
  background-color: #B31312; /* Set your desired button background color on hover */
}

.resend-btn {
  background-color: #fa4c4c; /* Set your desired resend button background color */
  color: #ffffff; /* Set your desired resend button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resend-btn:hover{
  background-color: #B31312;
  color: #f0f0f0;
}

.resend-btn:disabled {
  background-color: #6c757d; 
}

