/* Default styles for larger screens */
.otp {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.arrow {
  margin-left: -25px;
  cursor: pointer;
}

.otp-container {
  width: 40%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  text-align: start;
}

h4 {
  text-align: start;
  color: #f81745;
  font-size: 24px;
  font-weight: 700;
}

#p1 {
  font-size: 14px;
  margin-top: 8%;
  margin-bottom: 10px;
  color: #555;
  text-align: center;
}

.otp-input-container {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input {
  width: calc(100% / 6);
  margin-right: 8px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #f81745;
  border-radius: 16px;
  outline: none;
  box-sizing: border-box;
  text-align: center;
}

input:last-child {
  margin-right: 0;
}

.atention {
  align-items: center;
  text-align: center;
  margin-top: 30%;
}

.error-message,
.success-message {
  color: #fff;
  padding: 16px 24px 16px 24px;
  border-radius: 16px;
}

.error-message {
  background-color: #f81745;
}

.success-message {
  background-color: #73CA5C;
}

.submit-button-container {
  margin-top: 8%;
  text-align: center;
}

.tombol {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #73CA5C;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .otp-container {
    width: 80%;
  }

  .input {
    width: calc(100% / 6);
  }
}
