
:root {
  /* Colors */
  --red-color: #f81745;
  --red-pink-color: #f15d7b;
  --black-color: #212121;
  --pink-color: #fa80ab;
  --white-color: #ffffff;
  /* Font & Typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 58px;
  --h1-font-size: 45px;
  --normal-font-size: 18px;
  --small-font-size: 16px;
  --smaller-font-size: 14px;
  /* Font Weight */
  --font-semibold: 600;
  --font-medium: 500;
}

body {
  font-family: var(--body-font);
  background-color: #ffffff;
}

a,
a:hover {
  text-decoration: none;
}

.text-primary {
  color: var(--white-color) !important;
}
.text-primary-big {
    color: var(--red-color) !important;
  }
  

.bg-primary {
  background-color: var(--red-color) !important;
}

.bg-primary-light {
  background-color: var(--red-pink-color)!important;
}

/* Costum Scrollbar */
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0.5rem;
}

.btn-primary {
  padding: 14px 22px;
  border-radius: 8px;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  background-color: var(--red-color);
  border: none;
}
.btn-primary:hover, .btn-primary:focus {
  filter: drop-shadow(0px 10px 30px rgba(186, 37, 48, 0.15));
  background-color: var(--black-color);
}

.btn-primary-light {
  background-color: var(--black-color);
  color: var(--black-color);
  border: none;
}
.btn-primary-light:hover, .btn-primary-light:focus {
  color: var(--black-color);
  background-color: var(--primary-light-color);
}

.btn-video-play {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  margin-left: 30px;
  height: 50px;
  width: 50px;
  padding: 0;
  font-size: 30px;
}
.btn-video-play i {
  line-height: 3rem;
  color: var(--yellow-color);
}
.btn-video-play:hover i {
  color: var(--primary-color);
}


/* Badge */
.badge {
  padding: 0.7rem;
  border-radius: 8px;
}

section.home {
    padding-top: 7rem;
  }
  section.home .text-home-bold {
    font-size: var(--biggest-font-size);
    line-height: 87px;
  }
  section.home .text-home-reguler {
    font-size: var(--normal-font-size);
    line-height: 27px;
  }
  section.home .home-btn .video-play {
    font-weight: var(--font-medium);
    padding: 1rem;
  }
  
  /* Services */
  section.services {
    padding-top: 7rem;
  }
  section.services .content .services-title {
    font-weight: var(--font-semibold);
  }  
  