@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --red-color: #f81745;
  --red-pink: #212121;
  --red-black: #fa80ab;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-forgot {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-forgot {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-username {
  position: absolute;
  height: 100%;
  width: 100%; 
  max-width: 500px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.8s ease-in-out;
}

.form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}


@media (max-width: 768px) {
  .forms-username {
    width: 100%; 
  }
}

.icon-username {
  text-align: center;
  font-size: 5.1rem;
  color: #322514;
  margin-bottom: 10px;
}

.heading-username {
  text-align: center;
  margin-bottom: 20px;
}

.heading-username h2 {
  font-size: 25px;
  font-weight: 600;
  /* color: #151111; */
  color: #322514;
}

.heading-username p {
    font-size: 14px;
    font-weight: 400;
    color: #151111;
  }

  .input-passwordd{
    position: relative;
    height: 50px;
    margin-bottom: 60px;
  }
.input-password {
  position: relative;
  height: 50px;
  margin-bottom: 60px;
}

.input-username {
    position: relative;
    height: 50px;
    margin-bottom: 60px;
  }


.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

.icon-eyeslash{
  font-size: 20px;
  cursor: pointer; 
  position: relative;
  left: 14rem; 
  top: 15px; 
}

.input-field + label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.input-field.active {
  border-bottom-color: #151111;
}

.box-forgot label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 42px;
  background-color: var(--red-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: var(--red-pink);
}
